/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


### Projects Specifics ###
*.properties
*.log
/data-release/ep-config/target/
/data-release/ep-model/target/
/data-release/centralService/target/
/data-release/PDBeAdapter/target/
/data-release/DataAnalysis/target/
/data-release/ep-parser/target/
/data-release/SitemapGenerator/target/
/data-release/SitemapGenerator/SitemapGenerator.iml
#/data-release/.idea*
/data-release/.idea/checkstyle-idea.xml
/data-release/.idea/codeStyles/Project.xml
/data-release/.idea/dbnavigator.xml
!/src/main/resources/config/application.properties