/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Projects Specifics ###
*.properties
*.log
/src/main/resources/config/application-uzprel.properties
/src/main/resources/config/application-uzpdev.properties
/src/main/resources/config/release.info
/logs/
/xml-generator.iml
