/* 
    Document   : ${name}
    Created on : ${date}, ${time}
    Author     : ${user}
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#desc a:link, #desc a:visited{
	/*color: #207a7a;*/
	text-decoration: underline;
}
.link{
	/*color: #207a7a;*/
	text-decoration: underline;

}
.ebiHeader {
    min-height: 50px;
}
.search {
    padding: 5px 0px;
    background: #fff; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#ffffff'); /* for IE */
    background: -moz-linear-gradient(center top, #dedede, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ffffff)); /* for webkit browsers */
    margin-top: 5px;
    min-height: 50px;
    text-align:center;
}

.content {
    min-height: 700px;
}

.field {
    width: 500px;
    font-size: 120%;
    padding: 5px;
    margin:0px auto;
    border-radius: 15px 15px 15px 15px;;
    -moz-border-radius: 15px 15px 15px 15px;;
    -webkit-border-radius: 15px 15px 15px 15px;;
}
.button {
    display: inline-block;
    position: relative;
    margin: 2px auto 5px auto;
    padding: 4px 5px;
    font-size: 130%;
    background: #ddd;
    color: #72B55F;
    vertical-align: center;
    border: 1px solid #777;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

#tnt_pagination {
    float: left;
    display:block;
    max-height: 40px;
    line-height:21px;
    text-align: center;
    width: 40%;
}

#tnt_pagination a:link, #tnt_pagination a:visited{
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #EBEBEB;
    margin-left:5px;
    background-color:#F5F5F5;
    color:#207A7A;
    width:22px;
    font-weight:normal;
    text-decoration: underline;    
}

#tnt_pagination a:hover {
    background-color:#ddd;
    border:1px solid #207A7A;
    color:#207A7A;
}

#tnt_pagination .active_tnt_link {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #BBDDFF;
    margin-left:5px;
    text-decoration:none;
    background-color:#DDEEFF;
    color:#207A7A;
    cursor:default;
}

#tnt_pagination .disabled_tnt_pagination {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #EBEBEB;
    margin-left:10px;
    text-decoration:none;
    background-color:#F5F5F5;
    color:#D7D7D7;
    cursor:default;
}

.filter  {
    float:left;
    margin-left:2px;
    margin-right:2px;
    width:20%;
    padding: 4px 4px;
    margin-top: 5px;
    /*border: 2px solid #ddd;*/
    /*
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
    */
}

.filter .sublevel1 {
    margin-top: 10px;
    min-height: 120px;
    max-height: 600px;
    border: 1px solid #ddd;    
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius:8px 8px 8px 8px;
    -webkit-border-radius:8px 8px 8px 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.filterContent {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    line-height:120%;
}
.text {
    float: left;
    width: 80%;
}

.otherName {
    font-size: 8pt;
    font-style: italic;    
}
.checkItem {
    vertical-align: top;
    float: right;
    width: 10%;
    margin-right: 10px;    
}

.filterLine {
    margin-bottom: 8px;
}
.result  {
    float:left;
    margin-left:2px;
    margin-right:0px;
    width:78%;
    padding: 2px 2px;
    margin-top: 5px;
    min-height: 700px;
}

.title {
    height: 20px;
    font-weight: bold;
    color: #408C8C;
    /*border-bottom: 1px solid #ddd;*/
}

.subTitle {
    padding: 4px 4px;
    height: 20px;
    font-weight: bold;
    color: #408C8C;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius:8px 8px 8px 8px;
    -webkit-border-radius:8px 8px 8px 8px;
    background: #fff; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#ffffff'); /* for IE */
    background: -moz-linear-gradient(center top, #dedede, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ffffff)); /* for webkit browsers */

}


/*search result text: Total found*/
.resultText {
    float:left;
    height: 20px;
    width:40%;
}

.comparison {
    font-weight: bold;
    color: #408C8C;
    float:right;
    max-height: 40px;
    width:19%;    
}

#allButtons {
    margin-top: -4px;
    margin-bottom: -6px;
    float: right;
}

#buttonItems {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    height: 100px;    
    width: 7%;
}

.resultContent {
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    width: 100%
}

.line {
    margin-bottom: 5px;
    max-height: 2px;
    border-bottom: 1px solid #ddd;
}

.resultItem {
    float: left;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
    border: 1px solid #ddd ;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px;
    vertical-align: top;
    max-height: 450px;
    min-height: 80px;
    /*width: 76%;*/
    width: 88%;
}

#proteinImg {
    float: left;
    width: 17%;
    height: 90px;
    text-align: center;
    margin-left: -8px;   
}

#desc {
    float: left;
    text-align: left;
    width: 59%;
}

#in {
    float: left;
    width: 2%;
    margin-left: 10px;
}

.species {
    float: right;
    width: 18%;    
}

p{
    line-height: 12pt;
    margin-bottom: 4pt;
}
.basket{
    float: right;        
}

.basket #compareButton {
    font-weight: bold;
    height: 22px;
    margin-bottom: 0px;
}

#hiddenText {
    display:none;
}

