/* 
    Document   : enzyme
    Created on : May 6, 2011, 8:03:11 PM
    Author     : hongcao
    Description:
        Purpose of the stylesheet follows.
*/

.tab.reaction .inner_tab .icon {
	background-image: url("../images/reaction.png");
}
.tab.disease .inner_tab .icon {
	background-image: url("../images/disease.png");
}
.tab.molecule .inner_tab .icon {
	background-image: url("../images/molecule.png");
}

img {
    border: none;
}

.epBox , fieldset {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#equation table {
    text-align: center;
    width: 100%;
}
.inlineLinks {
    display: inline-table;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
     margin-bottom: 10px;
}
/*
.pathwayDesc
  {
    float: left;
    max-width:50%;
    min-width: 250px;
  }

.pathwayImg
  {
    float: left;
    width: 50%;
  }
*/
fieldset {
    margin-top: 20px;
}

legend {
    font-weight: bold;
}
.bold{
    font-weight: bold;
}

.epBox {
    width: 46%;
    min-height: 200px;
    display: inline;
    float: left;
    margin: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    text-align: center;
}

.citationsList li {
	margin-bottom: 2ex;
}

span.synonyms {
    margin-right: 5px;
    text-align:justify;
}