/* 
    Document   : enzyme
    Created on : May 6, 2011, 8:03:11 PM
    Author     : hongcao
    Description:
        Purpose of the stylesheet follows.
*/

.tab.reaction .inner_tab .icon {
	background-image: url("../images/reaction.png");
}
.tab.disease .inner_tab .icon {
	background-image: url("../images/disease.png");
}
.tab.molecule .inner_tab .icon {
	background-image: url("../images/molecule.png");
}

#equation img {
    border: none;
}

#reaction fieldset {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#equation table {
    text-align: center;
    width: 100%;
}
.inlineLinks {
    display: inline-table;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
     margin-bottom: 10px;
}
