<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <!--Controller-->
    <servlet>
        <servlet-name>ep</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/ep-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EnzymePortalSitemapServlet</servlet-name>
        <servlet-class>uk.ac.ebi.ep.web.EnzymePortalSitemapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteMapServlet</servlet-name>
        <servlet-class>uk.ac.ebi.ep.web.SiteMapServlet</servlet-class>
    </servlet>
    <servlet>
        <description>A servlet to provide files from the file system which are
            outside the web container, namely a XML file to ChEBI with mappings
            from ChEBI IDs to enzymes (UniProt identifiers).</description>
        <display-name>FileProxyServlet</display-name>
        <servlet-name>FileProxyServlet</servlet-name>
        <servlet-class>uk.ac.ebi.ep.web.FileProxyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ep</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ep</servlet-name>
        <url-pattern>/noaccesslog/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnzymePortalSitemapServlet</servlet-name>
        <url-pattern>/sitemap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteMapServlet</servlet-name>
        <url-pattern>/SiteMapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileProxyServlet</servlet-name>
        <url-pattern>/getfile/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>HealthFilter</filter-name>
        <filter-class>uk.ac.ebi.es.HealthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HealthFilter</filter-name>
        <url-pattern>/noaccesslog/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

</web-app>
