/* 
    Document   : enzyme
    Created on : May 6, 2011, 8:03:11 PM
    Author     : hongcao
    Description:
        Purpose of the stylesheet follows.
*/

/*.tab.reaction .inner_tab .icon {
	background-image: url("../images/reaction.png");
}
.tab.disease .inner_tab .icon {
	background-image: url("../images/disease.png");
}
.tab.molecule .inner_tab .icon {
	background-image: url("../images/molecule.png");
}*/

img {
    border: none;
}
/*overidding frontier css*/
dt{
	clear: none;  
	padding: 0em 0em;
    font-family: inherit;
}

th,td{
    border:none;
    vertical-align: inherit;
}
td{
}
th{
    background-color:inherit;
}

table{
    border: none;
}

/*.epBox , fieldset {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}*/


/*frontier overridding ends*/



.reaction.block {
	border: thin solid grey;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    margin-top: 2ex;
    padding: 1ex 1em;
}

.equation {
	width: 100%;
	overflow-x: auto;
}

.equation table {
    text-align: center;
    width: 100%;
}
.inlineLinks {
    display: inline-table;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*
.pathwayDesc
  {
    float: left;
    max-width:50%;
    min-width: 250px;
  }
*/
.pathwayImg{
	display: block;
	margin: 1.5ex auto 1ex;
}

fieldset {
    margin-top: 20px;
}

legend {
    font-weight: bold;
}
.bold{
    font-weight: bold;
}

.epBox {
    /*min-height: 200px;*/
    min-width: 200px;
    max-width: 200px;
    display: inline;
    float: left;
    margin: 5px 5px 5px 5px;
    border: 1px solid #ddd;
    text-align: center;
    padding: 0.5ex 0.5em;
}

.epBox div {
    max-width: 200px;
    width: 200px;
    word-wrap: break-word;
}

#citationsList > div {
	margin-bottom: 2ex;
}

label.citationFilter {
	font-weight: normal;
	color: black;
	margin-right: 2em;
}

span.synonyms {
    margin-right: 5px;
    text-align:justify;
}
span.enzymeDisease{
     margin-right: 5px;  
    text-align:justify;
}
span h1{
  font-family: 'HelveticaNeueLT Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  
}
div#local-masthead {
    background-color: #70bdbd;
    background-image:-webkit-linear-gradient(left, #207a7a, #70bdbd);
    background-image: -moz-linear-gradient(left, #207a7a, #70bdbd);
    background-image: -ms-linear-gradient(left, #207a7a, #70bdbd);
    background-image: -o-linear-gradient(left, #207a7a, #70bdbd);
    background-image: linear-gradient(left,#207a7a,#70bdbd);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType='1', startColorStr='#207a7a', EndColorStr='#70bdbd'); /* IE6/7 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType='1', startColorStr='#207a7a', EndColorStr='#70bdbd')"; /* IE8*/ 
}

/****************** Basket ******************************/

.basket{
    float: right;        
}

.basket button {
    height: 4ex;
    margin-bottom: 0px;
    white-space: nowrap;
}

.basket button.icon {
    font-weight: normal;
}
.basket button.icon:before {
    color: rgb(80, 80, 80) !important;
}

.basket button.icon.icon-generic:before,
.basket button.icon.icon-functional:before {
}

button#basketDeselectAll, button#basketSelectAll {
    font-size: smaller;
}
/****************** Comparing enzymes *******************/

#comparison-outline {
	position: fixed;
	z-index: 666;
	width: auto;
	max-width: 16%;
	background-color: white;
	box-shadow: 0 0 1em #ccc;
	margin-left: 0.5em;
	padding-top: 1ex;
}
#comparison-outline ul {
	padding-left: 0.3em !important;
}
#comparison-outline li {
    list-style: none;
    padding: 0.3ex 1em;
}

.comparison.header, .comparison.header a, .comparison.subheader {
	font-weight: bold;
}
legend.comparison.header {
	margin: 0.5ex 1em;
	padding: 0.5ex 1em
}

.diff {
	background-color: #ddd;
}
section.diff img {
	background-color: #fff;
	max-width: 200px;
}
.same {
	background-color: #fff;
}

fieldset.comparison {
	border: 1px solid;
	margin: 0.3ex 1em;
}
fieldset.comparison section {
	margin-bottom: 1ex;
}
select.ps {
	border: 1px inset;
	width: 100%;
}

section div.diff {
    text-align: center;
    margin-top: 0.3ex;
}
section.alpha > div.diff {
	margin: 0.3ex 0em 0.3ex 1em;
}
section.omega > div.diff {
    margin: 0.3ex 1em 0.3ex 0em;
}
button.comparison {
  width: 100%;
  text-align: center;
}
