/* 
    Document   : ${name}
    Created on : ${date}, ${time}
    Author     : ${user}
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body, td.contentsarea {
    background-color: #FFFFFF;
    color: #000000;
    font-family: helvetica,"trebuchet MS",arial,sans-serif;
    font-size: 9pt;
    margin: 0;
    padding: 0;
    line-height: 16px;
    width: 100%;
}

a:link, a:visited {
    text-decoration: underline;
}

.desc a:link, .desc a:visited, .species{
	/*color: #207a7a;*/
	text-decoration: underline;
}
.showLink{
	/*color: #207a7a;*/
	text-decoration: underline;
	font-style: italic;
	white-space: nowrap;
}
.ebiHeader {
    min-height: 50px;
}

.searchBackground {
    padding: 5px 0px;
    background: #fff; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#ffffff'); /* for IE */
    background: -moz-linear-gradient(center top, #dedede, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ffffff)); /* for webkit browsers */
    margin-top: 5px;
    min-height: 50px;
    text-align:center;
}

.field {
    display: inline-block;
    width: 550px;
    font-size: 120%;
    padding: 4px 5px;
    margin: 2px auto 5px auto;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.filterButton, .searchButton, .button {
    /*position: relative;*/
    /*background: #ddd;*/
    background: #72B55F;
    /*color: #72B55F;*/
    color: white;
    border: 1px solid #777;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;

}

.searchButton {
    display: inline-block;
    margin: 2px auto 5px auto;
    padding: 4px 5px;
    font-size: 130%;
}

.filterButton {
    float: right;
    margin: 5px 5px 5px 5px;
    font-weight: bold;
}
/*
.searchHome {
    padding: 5px 0px;
    margin-top: 5px;
    min-height: 50px;
    text-align:center;
}
*/

.content {
    min-height: 700px;
}


.filter  {
    float:left;
    margin-left:2px;
    margin-right:2px;
    /*min-width:150px;*/
    min-width: 15%;
    max-width: 20%;
    padding: 4px 4px;
    margin-top: 5px;
    /*border: 2px solid #ddd;*/
    /*
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
    */
}

.filter .sublevel1 {
    margin-top: 10px;
    min-height: 120px;
    /*max-height: 600px;*/
    border: 1px solid #ddd;    
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius:8px 8px 8px 8px;
    -webkit-border-radius:8px 8px 8px 8px;
    margin-left: 2px;
    margin-right: 2px;
}

.filterContent {
    margin-left: 5px;
    padding-bottom: 2px;
    line-height:16pt;
}
.text {
    float: left;
    width: 82%;
    /*border: 1px solid #ddd;*/
}

.otherName {
    font-size: 8pt;
    font-style: italic;    
}
.checkItem {
    vertical-align: top;
    margin-right: 5px;
    float: right;
    width: 10%;
    text-align: right;
    /*border: 1px solid #ddd;*/
}

.filterLine {
    margin-bottom: 8px;
    vertical-align: top;
}

/*The container of result items on the right side of the filter*/
.result  {
    float:left;
    margin-left:2px;
    margin-right:0px;
    max-width:76%;
    min-width:70%;
    padding: 2px 2px;
    margin-top: 5px;
    min-height: 700px;
    /*border: 1px solid #ddd;*/
}

.title {
    height: 20px;
    font-weight: bold;
    color: #408C8C;
    /*border-bottom: 1px solid #ddd;*/
}

.subTitle {
    padding: 4px 4px;
    height: 20px;
    font-weight: bold;
    color: #408C8C;
    -moz-border-radius: 8px 8px 8px 8px;
    border-radius:8px 8px 8px 8px;
    -webkit-border-radius:8px 8px 8px 8px;
    background: #fff; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#ffffff'); /* for IE */
    background: -moz-linear-gradient(center top, #dedede, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#ffffff)); /* for webkit browsers */

}


/*search result text: Total found*/
.resultText {
    float:left;
    vertical-align: bottom;
}
#pagination {
    float:right;
    vertical-align: bottom;
}

.comparison {
    font-weight: bold;
    color: #408C8C;
    float:right;
    max-height: 40px;
    width:19%;    
}

#allButtons {
    margin-top: -4px;
    margin-bottom: -6px;
    float: right;
}

#buttonItems {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    height: 100px;    
    width: 7%;
}

/*The container of the search result items in rounded box*/
.resultContent {
    padding-top: 0px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    max-width: 99%
}

.line {
    /*margin-bottom: 5px;*/
    margin-bottom: 2px;
    max-height: 2px;
    border-bottom: 1px solid #ddd;
}

/*The search result item in rounded box*/
.resultItem {
    float: left;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
    border: 1px solid #ddd ;
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px;
    vertical-align: top;    
    min-height: 80px;    
    /*width: 88%;*/
    width: 100%;
}

.proteinImg {
    float: left;
    width:110px;
    /*height:90px;*/
    text-align: center;    
    margin-right: 5px;
    /*border: none;*/
    /*border: 1px solid #ddd;*/
    display: table-cell;
}

.proteinImg a{
	color: white;
    text-decoration: none;
}

.imgFooter {
	font-size: smaller;
}

.desc {
    float: left;
    text-align: left;
    /*for smaller resolution
    width: 55%;*/
    width: 65%;
    /*border: 1px solid #ddd;*/
    display: table-cell;
}


#speciesContainer{
     float: left;
     width: 18%;
    /*border: 1px solid #ddd;*/
}

#in {
    float: left;
    width: 20px;
    padding-left:5px;
    /*border: 1px solid #ddd;*/
}

.species {
    margin-left: 5px;
    float: left;
    width: 82%;
    /*border: 1px solid #ddd;*/
}

.basket{
    float: right;        
}

.basket #compareButton {
    font-weight: bold;
    height: 22px;
    margin-bottom: 0px;
}

#hiddenText {
    display:none;
}

.iconGroup {
    text-align:center;
    width: 100%;
}
.iconField {
    margin: 10px;
    width: 12em;
    height: 18ex;
    font-weight: bold;
    -moz-border-radius: 15px;
    border-radius:15px;
    -webkit-border-radius:15px;
    display:inline;
}

.iconField a {
    text-decoration: none;
}

.iconBox img
  {   
    border: none;
  }

.searchTab {
    padding: 0.5ex 2em;
    margin: 0ex 1em;
    border-top-left-radius: 2ex;
    border-top-right-radius: 2ex;
}
.selected.searchTab {
	color: #888;
}
.disabled.searchTab {
    background-color: #bbb;
    color: #eee;
}
.selected.searchTab, .searchTabContent {
    background-color: #eee;
}
.searchTabContent {
    margin-top: 0.3ex;
    padding: 2ex 1em;
}




