.jcarousel-skin-aqua .jcarousel-container {font-family:Arial,Helvetica,sans;}

.jcarousel-skin-aqua .jcarousel-direction-rtl {
	direction: rtl;
}

/*.jcarousel-skin-aqua .jcarousel-container-horizontal {
    width:760px;
    margin:0 auto;
    padding:20px 20px 5px 20px;
}

.jcarousel-skin-aqua .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}*/

.jcarousel-skin-aqua .jcarousel-container-horizontal {
    width:600px;
    margin:0 auto;
    padding:20px 20px 5px 20px;
}

.jcarousel-skin-aqua .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-aqua .jcarousel-clip {
    overflow: hidden;
}

/*.jcarousel-skin-aqua .jcarousel-clip-horizontal {
    width:  760px;
    height: 250px;
}*/

/*.jcarousel-skin-aqua .jcarousel-clip-horizontal {
    width:  600px;
    height: 250px;
}*/

.jcarousel-skin-aqua .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}
/*
.jcarousel-skin-aqua .jcarousel-item {
    width: 760px;
    height: 250px;
}*/


.jcarousel-skin-aqua .jcarousel-item {
    width: 600px;
    height: 250px;
}

  pa {
    text-overflow: ellipsis; /* will make [...] at the end */
    width: 870px; /* change to your preferences */
    white-space: nowrap; /* paragraph to one line */
    overflow:hidden; /* older browsers */
    }

.jcarousel-skin-aqua .jcarousel-item div {padding:10px; position:relative;}

.jcarousel-skin-aqua .jcarousel-item img {float:left; height:50px; width:50px;
/*                    -webkit-box-shadow:0px 5px 5px #000000;                                 
                    box-shadow:0px 5px 5px #000000;
                    filter: blur(5px);
browser specific
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);*/
                                                
                                                }
/*.jcarousel-skin-aqua .jcarousel-item img {float:left; height:230px; width:390px;
                    -webkit-box-shadow:0px 5px 5px #000000;                                 
                    box-shadow:0px 5px 5px #000000}*/
/*.jcarousel-skin-aqua .jcarousel-item span {float:right; font-size:16px; width:320px;}

.jcarousel-item span h4 {color:#42A4EF; font-family:'Droid Serif', Cambria, serif; font-size:26px; font-style:italic; font-weight:bold; line-height:22px; margin:0 0 30px 0;}*/


.jcarousel-skin-aqua .jcarousel-item span {float:right; font-size:12px; width:320px;}

.jcarousel-item span h4 {color:#A1C7C7; font-family:'Droid Serif', Cambria, serif; font-size:20px; font-style:italic; font-weight:bold; line-height:12px; margin:0 0 20px 0;}


.jcarousel-skin-aqua .jcarousel-item a {background:#FCF178; border:1px solid #EFDE26; color:#564F01; cursor:pointer; display:block; font-weight:bold; margin:20px 0 0 0; padding:6px 8px; position:relative; top:0; width:110px;
                    -moz-border-radius:4px;
                    -webkit-border-radius:4px;
                    border-radius:4px;}
/*.jcarousel-skin-aqua .jcarousel-item a:hover {background:#F5E552;}
.jcarousel-skin-aqua .jcarousel-item a:active {background:#DBCB3F; top:1px;}                    */
.jcarousel-skin-aqua .jcarousel-item a:hover {background:#A1C7C7;}
.jcarousel-skin-aqua .jcarousel-item a:active {background:#A1C7C7; top:1px;} 

.jcarousel-skin-aqua .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 0;
}

.jcarousel-skin-aqua .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-aqua .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-aqua .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-aqua .jcarousel-next-horizontal {
    position: absolute;
    bottom:130px;
    right:0px;
    width: 10px;
    height:16px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
    visibility:hidden;
}

.jcarousel-skin-aqua .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-aqua .jcarousel-next-horizontal:hover,
.jcarousel-skin-aqua .jcarousel-next-horizontal:focus {

}

.jcarousel-skin-aqua .jcarousel-next-horizontal:active {
    bottom:129px;
}

.jcarousel-skin-aqua .jcarousel-next-disabled-horizontal,
.jcarousel-skin-aqua .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-aqua .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-aqua .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-skin-aqua .jcarousel-prev-horizontal {
    position: absolute;
    bottom:130px;
    left: 0px;
    width: 10px;
    height: 16px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
    visibility:hidden;
}

.jcarousel-skin-aqua .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-aqua .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-aqua .jcarousel-prev-horizontal:focus {

}

.jcarousel-skin-aqua .jcarousel-prev-horizontal:active {
    bottom:129px;
}

.jcarousel-skin-aqua .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-aqua .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-aqua .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-aqua .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

.jcarousel-container:hover .jcarousel-prev-horizontal, .jcarousel-container:hover .jcarousel-next-horizontal {visibility:visible;}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-aqua .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-aqua .jcarousel-next-vertical:hover,
.jcarousel-skin-aqua .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-aqua .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-aqua .jcarousel-next-disabled-vertical,
.jcarousel-skin-aqua .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-aqua .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-aqua .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-aqua .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-aqua .jcarousel-prev-vertical:hover,
.jcarousel-skin-aqua .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-aqua .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-aqua .jcarousel-prev-disabled-vertical,
.jcarousel-skin-aqua .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-aqua .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-aqua .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

/**
 *  External Controls
 */
/* .jcarousel-control {margin:0 auto; width:730px;}
 .jcarousel-control a {background:url(/playground/js/jcarousel/skins/default/dot.png); display:inline-block; font-size:0px; height:15px; width:15px;}
 .jcarousel-control a:hover {background:url(/playground/js/jcarousel/skins/default/dot-hover.png);}
 .jcarousel-control a.active {background:url(/playground/js/jcarousel/skins/default/blue-dot.png);}*/


/*  .jcarousel-control {margin-left:130px;}*/
  .jcarousel-control {margin-left:250px;}
 .jcarousel-control a {background:url(EP_dot.png); display:inline-block; font-size:0px; height:15px; width:15px; border-bottom: none;}
 .jcarousel-control a:hover {background:url(dot-hover.png);}
 .jcarousel-control a.active {background:url(EP-dot-active.png);}