/* This style sheet is to adsjut how we display the PCViz widget on the Reactions page */

.grid {
    border: 5px solid #dee;
}

.grid td {
    vertical-align: top;
}

.grid th {
    background-color: #dee;
}

#close-pcviz {
    float: right;
    margin-right: 10px;
    font-weight: bold;
}

