<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    
    

<context-param>
 <param-name>log4jExposeWebAppRoot</param-name>
 <param-value>false</param-value>
</context-param>


               
   
 <!-- Configure ContextLoaderListener to use JavaConfigWebApplicationContext
         instead of the default XmlWebApplicationContext -->
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.config.java.JavaConfigWebApplicationContext</param-value>
    </context-param>
    <!-- Configuration locations must consist of one or more comma- or space-delimited
         fully-qualified @Configuration classes -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>uk.ac.ebi.ep.config.ApplicationContext</param-value>
    </context-param>
    

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    
    
    <error-page>
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
        <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>   
    

    <session-config>
        <session-timeout>
            90
        </session-timeout>
    </session-config>
    
        <filter>
        <filter-name>HealthFilter</filter-name>
        <filter-class>uk.ac.ebi.es.HealthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HealthFilter</filter-name>
        <url-pattern>/noaccesslog/*</url-pattern>
    </filter-mapping>
<!--    <filter>
       <filter-name>cross-origin</filter-name>
       <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
   </filter>
   <filter-mapping>
       <filter-name>cross-origin</filter-name>
       <url-pattern>/*</url-pattern>
   </filter-mapping>-->
   
</web-app>
